<!doctype html>
<html>

<head>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css"
        integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w"
        crossorigin="anonymous">
    <link href="{{ url_for('static', filename='style.css') }}"
        rel="stylesheet" type="text/css" >
</head>

<body>

    <div class="header">
        <h2>
            Plotly Chart Demo
        </h2>
    </div>

    <ul>
        <li><a href="/showLineChart">Line</a></li>
        <li><a href="/showMultiChart">MultiLine</a></li>
        <li><a href="/plot3d">3D</a></li>
        <li><a href="/plot3dcontours">3D with Contours</a></li>
        <li><a href="/sankey">Sankey Diagram</a></li>
        <li><a href="/barandline">Bar and Lines</a></li>
        <li><a href="/sunburst">Sunburst Diagram</a></li>
        <li><a href="/gapminder">Gapminder Form</a></li>
    </ul>

</body>
</html>

