<!doctype html>
<html>

<head>
    <style type="text/css">
        .header{
            text-align: center;
            background-color: rgb(136, 185, 229);
            height: 70px;
            line-height: 70px;
        }
    </style>
</head>

<body>

    <div class="header">
        <h2>
            Plotly Chart Demo
        </h2>
    </div>

    <ul>
        <li><a href="/showLineChart">Line</a></li>
        <li><a href="/showMultiChart">MultiLine</a></li>
        <li><a href="/plot3d">3D</a></li>
        <li><a href="/plot3dcontours">3D with Contours</a></li>
        <li><a href="/sankey">Sankey Diagram</a></li>
        <li><a href="/barandline">Bar and Lines</a></li>
        <li><a href="/sunburst">Sunburst Diagram</a></li>
    </ul>

</body>
</html>

